*{
    margin: 0px;
    padding: 0px;
   align-items: center; 
     
}

#A1{
    padding: 50px;
    padding-left: 200px;
    margin: auto;
    max-width: 100%;
    background-color: black;
    opacity: 0.8;
    height: 800px;
    position: relative;
}

#A2{
    background-color: none;
    max-width: auto;
    width: 358px;
    height: 500px;
    position: absolute;
    margin-top: -500px;
}
#inequ{
    font-size: 25px;
    background-color: black;
    color: darkorange;
    border-radius: 20px;
    border: 1px solid;
    padding: 19px;
    text-align: right;
    border-bottom: none;
    border-radius: 15px;
    height: 40px;
    border-color: grey;
}

#inans{
    padding: 19px;
    width: auto;
    text-align: right;
    height: 40px;
    font-size: 25px;
    background-color: black;
    color: darkgoldenrod;
    border-radius: 15px;
    border: 1px solid grey;  
    border-top: none;
}

#button{
    padding: 1px;
    font-size: 68px;
    text-align: center;
    
}

.inputbtn{
     padding: 28.5px;
     font-size: 25px;
     border-radius: 50px;
     background-color: black;
     color: red;
     border-color: grey;
}



.history
{
 height: 400px;
 width: 300px;
 background-color: black;
 margin: 200px 0px -110px 400px;  
 overflow: auto;
 visibility: visible;
 color: yellow;
 border-radius: 20px;
 border: 5px solid yellow;
}

.history:hover{
    color: red;
    border-color: red;
}


#i{
    font-size: 40px;
    background-color: black;
    border-color: grey;
    padding-top: 10px;
    color: red;   
 }

.BtnDel{
    border: 2px solid;
    width: 25%;
    height: 30x;
    padding: 10px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 20px;
    color: white;
    background-color: black;

}

.BtnDel:hover{
    color: red;
    border-color: red;
}




























